<p id="notice"><%= notice %></p>

<h1>Listing Payments Total Due <%= @total_due  %></h1>
  
<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>event</th>
      <th colspan="3"> status</th>
    </tr>
  </thead>
 
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.amount %></td>
        <td><%= payment.event.name %></td>
        <td><%= payment.status %></td>
        <% unless current_user.admin? %>
        <td><%= link_to "paid from my end", await_status_payment_path(payment) %></td>
        <td><%= link_to "revert payment", revert_status_payment_path(payment) %></td>
        <% end %>

        <!--<td><%#= link_to 'Show', payment %></td>
        <td><%#= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%#= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>



<br>
<% if current_user.admin? %>
<%= link_to 'New Payment', new_payment_path %>
<% end %>